<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Favorite Learnlists</title>
</head>
<body>
    <h1>My Favorite Learnlists</h1>
    <ul>
        <% favouriteLearnlists.forEach(learnlist => { %>
            <li>
                <a href="/learnlists/<%= learnlist.id %>"><%= learnlist.name %></a>
                by <%= learnlist.username %>
                (Average Rating: <%= learnlist.average_rating %>)
            </li>
        <% }) %>
    </ul>
    <a
